<div>
    <h2>
        <span jhiTranslate="gatewayScoreApp.scorerecordtype.home.title">Scorerecordtypes</span>
        <button class="btn btn-primary float-right jh-create-entity create-scorerecordtype" [routerLink]="['/', { outlets: { popup: ['scorerecordtype-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="gatewayScoreApp.scorerecordtype.home.createLabel">
            Create new Scorerecordtype
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayScoreApp.scorerecordtype.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="scorerecordtypes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="gatewayScoreApp.scorerecordtype.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nameshort"><span jhiTranslate="gatewayScoreApp.scorerecordtype.nameshort">Nameshort</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="gatewayScoreApp.scorerecordtype.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifiedby"><span jhiTranslate="gatewayScoreApp.scorerecordtype.lastmodifiedby">Lastmodifiedby</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lastmodifieddatetime"><span jhiTranslate="gatewayScoreApp.scorerecordtype.lastmodifieddatetime">Lastmodifieddatetime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="domain"><span jhiTranslate="gatewayScoreApp.scorerecordtype.domain">Domain</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="scorestatus.name"><span jhiTranslate="gatewayScoreApp.scorerecordtype.scorestatus">Scorestatus</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scorerecordtype of scorerecordtypes ;trackBy: trackId">
                <td><a [routerLink]="['../scorerecordtype', scorerecordtype.id ]">{{scorerecordtype.id}}</a></td>
                <td>{{scorerecordtype.name}}</td>
                <td>{{scorerecordtype.nameshort}}</td>
                <td>{{scorerecordtype.description}}</td>
                <td>{{scorerecordtype.lastmodifiedby}}</td>
                <td>{{scorerecordtype.lastmodifieddatetime | date:'medium'}}</td>
                <td>{{scorerecordtype.domain}}</td>
                <td>
                    <div *ngIf="scorerecordtype.scorestatus">
                        <a [routerLink]="['../scorestatus', scorerecordtype.scorestatus?.id ]" >{{scorerecordtype.scorestatus?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../scorerecordtype', scorerecordtype.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'scorerecordtype/'+ scorerecordtype.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'scorerecordtype/'+ scorerecordtype.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="scorerecordtypes && scorerecordtypes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
